
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Welcome to Sample Page !!</title>

        <%- include("./_share/stylesheets.ejs") %>
    </head>
    <body>
        <%- include("./_share/navbar.ejs") %>
        <main role="main" class="container">

        <div class="border-bottom">
            <h1>Welcome To Ryuju's Web Blog System</h1>
        </div>
        <p class="lead">ようこそ。<br> node.jsとexpressで作成されたWebアプリです。<br> サーバーサイド開発の勉強の一貫として0から作成しました。</p>


        </main><!-- /.container -->

        <%- include("./_share/javascripts.ejs") %>
    </body>
</html>
